#my-button {
    background-color: black;
    color: white;
    border-color: white;
    width: 30%;
    height: 10%;
    font-size: 20px;
    font-family: monospace;
    
}


.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    background-color: black;

}

#blocks-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

#blocks {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

#blocks div  {
    width: 200px;
    height: 200px;
    border: 1px solid black;
}

#red {
    background-color: red;
    margin-bottom: 20px;

}

#blue {
    background-color: blue;
    margin-bottom: 20px;

}

button {
    width: 200px;
    height: 30px;
    
}

#container2 {
    margin: 10px;
}